VITE_CLERK_PUBLISHABLE_KEY=
VITE_API_BASE_URL=

// Clerkの環境変数。シークレットではないため、アプリケーションの実装に合わせてそのまま記載している。
// また、.env.productionに含めているので、自動的にデプロイに含まれる。
VITE_CLERK_SIGN_IN_URL="/login"
VITE_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL="/dashboard"
VITE_CLERK_SIGN_UP_URL="/register"
VITE_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL="/dashboard"
